.imageWrapper {
    height: 32.5rem;
    width: 75%;
    /* position: relative; */
}
.image {
    position: relative;
    /* background-image: url(../../Assets/Images/div.svg); */
    height: 32.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
img.sliderImage {
    max-width: 96.5% !important;
    overflow: hidden;
}

@media (max-width: 768px) {
    .image {
        height: 35.5rem;
    }
    .imageWrapper {
        width: 100%;
        height: 17rem;
    }
    img.sliderImage {
        max-width: 100% !important;
    }
}
