.wrapper {
    margin-top: 5rem;
    min-height: 100vh;
}
.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem 0;
    height: 100%;
    background-color: #f8f8f8;
}
.logoImages {
    width: 10%;
}
.businessSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
    height: calc(100vh - 10rem);
    width: 100%;
}
.houseWrapper {
    height: 100%;
    width: 30%;
    background: url(../../Assets/Images/about_us1.svg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurantWrapper {
    height: 100%;
    width: 30%;
    background: url(../../Assets/Images/about_us2.svg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.houseWrapper span,
.officeWrapper span,
.restaurantWrapper span {
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: center;
    background-color: white;
    padding: 1rem 1.5rem;
}
span.subTitle {
    display: block;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: center;
}
.whoAreWe {
    padding: 3rem 6rem;
}
span.heading {
    font-family: "Montserrat";
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 10.8rem;
    letter-spacing: 0em;
    text-align: left;
    color: #081828;
}
p.content {
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: #444444;
}

@media only screen and (max-width: 600px) {
    .logoSection {
        /* flex-direction: column; */
        gap: 2rem;
    }
    .logoImages {
        width: 30%;
    }
    .businessSection {
        flex-direction: column;
        height: 100vh;
    }
    .officeWrapper,
    .restaurantWrapper,
    .houseWrapper {
        height: 100vh;
        width: 90%;
    }
    .whoAreWe {
        padding: 2rem 3rem;
    }
    span.heading {
        font-size: 2.2rem;
        font-weight: 800;
        line-height: 1rem;
        letter-spacing: 0em;
        text-align: left;
        color: #081828;
    }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .logoSection {
        /* flex-direction: column; */
        gap: 2rem;
    }
    .logoImages {
        /* width: 20% !important; */
        height: 100% !important;
    }
    .businessSection {
        flex-direction: column;
        height: 100vh;
    }
    .officeWrapper,
    .restaurantWrapper,
    .houseWrapper {
        height: 100vh;
        width: 90%;
    }
}
